In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# This is to supress the warning messages (if any) generated in our code
import warnings
warnings.filterwarnings('ignore')

# Comment this if the data visualisations doesn't work on your side
%matplotlib inline

# We are using whitegrid style for our seaborn plots. This is like the most basic one
sns.set_style(style = 'whitegrid')

import calendar
import math

import zipfile
!unzip /content/COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv.zip

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Starting with the Cases Data**

Downloaded from the CDC website as a CSV, zipped to compress size and stored in Google Drive

In [ ]:
dfgeo = pd.read_csv ('/content/drive/MyDrive/CSE6242/COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv')

In [ ]:
dfgeo.head(10)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-01,PA,42.0,MONTGOMERY,42091.0,50 to 64 years,Female,Black,Non-Hispanic/Latino,0.0,0.0,Missing,Yes,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,Missing
1,2020-10,NY,36.0,QUEENS,36081.0,50 to 64 years,Male,Asian,Missing,0.0,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,Missing,Missing,Missing
2,2021-09,GA,13.0,COBB,13067.0,18 to 49 years,Female,Black,Non-Hispanic/Latino,Missing,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,Missing
3,2021-04,RI,44.0,PROVIDENCE,44007.0,18 to 49 years,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,Missing
4,2021-09,TN,47.0,SHELBY,47157.0,18 to 49 years,Female,Black,Non-Hispanic/Latino,0.0,Missing,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,Missing
5,2021-08,NY,36.0,SUFFOLK,36103.0,50 to 64 years,Male,Missing,Missing,Missing,Missing,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,Missing
6,2022-01,WA,53.0,PIERCE,53053.0,18 to 49 years,Female,Missing,Non-Hispanic/Latino,0.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,Missing
7,2021-07,WA,53.0,SNOHOMISH,53061.0,50 to 64 years,Female,White,Non-Hispanic/Latino,0.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,Yes
8,2020-11,OH,39.0,FRANKLIN,39049.0,18 to 49 years,Male,Missing,Missing,Missing,Missing,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,Missing
9,2021-11,OH,39.0,HAMILTON,39061.0,18 to 49 years,Female,Black,Non-Hispanic/Latino,1.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,Missing

In [ ]:
dfgeo.count()

case_month                         63272359
res_state                          63271353
state_fips_code                    63271353
res_county                         59000109
county_fips_code                   59000109
age_group                          62748609
sex                                61693553
race                               53549138
ethnicity                          52334866
case_positive_specimen_interval    22595497
case_onset_interval                26209929
process                            63272363
exposure_yn                        63272363
current_status                     63272363
symptom_status                     63272363
hosp_yn                            63272363
icu_yn                             63272363
death_yn                           61045848
underlying_conditions_yn            2644047
dtype: int64

In [ ]:
dfgeo.dtypes

case_month                          object
res_state                           object
state_fips_code                    float64
res_county                          object
county_fips_code                   float64
age_group                           object
sex                                 object
race                                object
ethnicity                           object
case_positive_specimen_interval    float64
case_onset_interval                float64
process                             object
exposure_yn                         object
current_status                      object
symptom_status                      object
hosp_yn                             object
icu_yn                              object
death_yn                            object
underlying_conditions_yn            object
dtype: object

In [ ]:
dfgeo.describe()

NameError: ignored

In [ ]:
cats = [col for col in dfgeo.columns if dfgeo[col].dtypes == "O"]
print(cats)

['case_month', 'res_state', 'res_county', 'age_group', 'sex', 'race', 'ethnicity', 'process', 'exposure_yn', 'current_status', 'symptom_status', 'hosp_yn', 'icu_yn', 'death_yn', 'underlying_conditions_yn']

In [ ]:
for cat in cats:
    x = dfgeo.groupby([cat]).size().reset_index(name='counts')
    print(x)

   case_month    counts
0     2020-01      4180
1     2020-02      4311
2     2020-03    373291
3     2020-04    786844
4     2020-05    707999
5     2020-06   1000548
6     2020-07   1509498
7     2020-08   1159642
8     2020-09   1117362
9     2020-10   1941173
10    2020-11   4157773
11    2020-12   5505084
12    2021-01   4663803
13    2021-02   1803812
14    2021-03   1802160
15    2021-04   1518055
16    2021-05    834553
17    2021-06    413734
18    2021-07   1331456
19    2021-08   3464905
20    2021-09   3270814
21    2021-10   2162344
22    2021-11   2347392
23    2021-12   5975662
24    2022-01  14019883
25    2022-02   1396081
   res_state   counts
0         AK   225560
1         AL  1253107
2         AR   809602
3         AZ  1921833
4         CA  8867276
5         CO  1300268
6         CT   392953
7         DC   132369
8         DE   248654
9         FL  3277146
10        GA  2051345
11        GU    28173
12        HI   110260
13        IA   503447
14        ID   340058
15        IL  3029186
16        IN  1696634
17        KS   765445
18        KY   628858
19        LA  1155939
20        MA  1663460
21        MD   662903
22        ME   194489
23        MI  1321059
24        MN  1404046
25        MO  1389729
26        MS    59591
27        MT   245552
28        NC  2561719
29        ND   235622
30        NE   280497
31        NH    95481
32        NJ  2182841
33        NM   489803
34        NV   605848
35        NY  4888949
36        OH  2632340
37        OK   668663
38        OR   685566
39        PA  2735781
40        PR    59775
41        RI   191330
42        SC  1455021
43        SD   199008
44        TN  1962541
45        TX   850819
46        UT   739609
47        VA  1393912
48        VI    16738
49        VT    93937
50        WA  1402068
51        WI  1000563
52        WV    10481
53        WY   153499
       res_county  counts
0       ABBEVILLE    6367
1          ACADIA   14919
2        ACCOMACK    5769
3             ADA   94569
4           ADAIR   10379
...           ...     ...
1136  YELLOWSTONE   38266
1137         YOLO   38234
1138         YORK  235447
1139         YUBA   16449
1140         YUMA   60604

[1141 rows x 2 columns]
        age_group    counts
0    0 - 17 years  10922661
1  18 to 49 years  32729209
2  50 to 64 years  11301263
3       65+ years   7071437
4         Missing    724039
       sex    counts
0   Female  32244535
1     Male  28522576
2  Missing    106265
3    Other       707
4  Unknown    819470
                                     race    counts
0           American Indian/Alaska Native    453109
1                                   Asian   1698063
2                                   Black   5983518
3                                 Missing   4954310
4                          Multiple/Other   1314806
5  Native Hawaiian/Other Pacific Islander     98609
6                                 Unknown   8743993
7                                   White  30302730
             ethnicity    counts
0      Hispanic/Latino   5547691
1              Missing   3826751
2  Non-Hispanic/Latino  30361790
3              Unknown  12598634
                             process    counts
0                            Autopsy       123
1                Clinical evaluation   1267486
2    Contact tracing of case patient    129190
3                Laboratory reported    233114
4                            Missing  60777156
5                           Multiple    237376
6                              Other     13722
7   Other detection method (specify)     10497
8                  Provider reported     24037
9       Routine physical examination       279
10              Routine surveillance    508107
11                           Unknown     71276
  exposure_yn    counts
0     Missing  58779782
1     Unknown   1170746
2         Yes   3321835
              current_status    counts
0  Laboratory-confirmed case  54223968
1              Probable Case   9048395
  symptom_status    counts
0   Asymptomatic    866032
1        Missing  26804346
2    Symptomatic  23959461
3        Unknown  11642017
4            nul       507
   hosp_yn    counts
0  Missing  29359278
1       No  22413225
2  Unknown   9354936
3      Yes   2144924
    icu_yn    counts
0  Missing  53018740
1       No   2133212
2  Unknown   7949846
3      Yes    169860
4      nul       705
  death_yn    counts
0  Missing  32111910
1       No  20315357
2  Unknown   8205752
3      Yes    412829
  underlying_conditions_yn   counts
0                       No    42644
1                      Yes  2601403

In [ ]:
cols = dfgeo.columns
cols

Index(['case_month', 'res_state', 'state_fips_code', 'res_county',
       'county_fips_code', 'age_group', 'sex', 'race', 'ethnicity',
       'case_positive_specimen_interval', 'case_onset_interval', 'process',
       'exposure_yn', 'current_status', 'symptom_status', 'hosp_yn', 'icu_yn',
       'death_yn', 'underlying_conditions_yn'],
      dtype='object')

In [ ]:
#slicing data for one month to see how much shrinkage in rows do we get from grouping
dfgeo_cut = dfgeo[dfgeo['case_month']=='2022-01']

In [ ]:
dfgeo_cut

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-01,PA,42.0,MONTGOMERY,42091.0,50 to 64 years,Female,Black,Non-Hispanic/Latino,0.0,0.0,Missing,Yes,Laboratory-confirmed case,Symptomatic,Unknown,Unknown,Unknown,NaN
6,2022-01,WA,53.0,PIERCE,53053.0,18 to 49 years,Female,Missing,Non-Hispanic/Latino,0.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
11,2022-01,NY,36.0,KINGS,36047.0,18 to 49 years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,Unknown,Missing,Missing,NaN
12,2022-01,CA,6.0,ALAMEDA,6001.0,65+ years,Female,NaN,NaN,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN
16,2022-01,MA,25.0,MIDDLESEX,25017.0,0 - 17 years,Male,Unknown,Unknown,NaN,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63272345,2022-01,NY,36.0,WESTCHESTER,36119.0,0 - 17 years,Male,Missing,Unknown,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN
63272346,2022-01,GA,13.0,FULTON,13121.0,50 to 64 years,Female,Black,Non-Hispanic/Latino,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
63272348,2022-01,AZ,4.0,PINAL,4021.0,0 - 17 years,Male,Missing,Unknown,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
63272355,2022-01,FL,12.0,ORANGE,12095.0,18 to 49 years,Female,White,Hispanic/Latino,NaN,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,NaN
63272359,2022-01,NJ,34.0,ESSEX,34013.0,50 to 64 years,Female,Black,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN

In [ ]:
dfgeo_cut_grouped = dfgeo_cut.groupby(['case_month', 'res_state', 'state_fips_code', 'res_county',
       'county_fips_code', 'age_group', 'sex', 'race', 'ethnicity',
       'case_positive_specimen_interval', 'case_onset_interval', 'process',
       'exposure_yn', 'current_status', 'symptom_status', 'underlying_conditions_yn', 'hosp_yn', 'icu_yn',
       'death_yn'],dropna=False).size().reset_index(name='CaseCount')

In [ ]:
dfgeo_cut_grouped

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,underlying_conditions_yn,hosp_yn,icu_yn,death_yn,CaseCount
0,2022-01,AK,2.0,ANCHORAGE,2020.0,0 - 17 years,Female,American Indian/Alaska Native,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,NaN,Missing,Missing,Missing,27
1,2022-01,AK,2.0,ANCHORAGE,2020.0,0 - 17 years,Female,American Indian/Alaska Native,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,NaN,No,Missing,Missing,2
2,2022-01,AK,2.0,ANCHORAGE,2020.0,0 - 17 years,Female,American Indian/Alaska Native,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,NaN,No,Missing,NaN,2
3,2022-01,AK,2.0,ANCHORAGE,2020.0,0 - 17 years,Female,American Indian/Alaska Native,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Probable Case,Missing,NaN,Missing,Missing,Missing,3
4,2022-01,AK,2.0,ANCHORAGE,2020.0,0 - 17 years,Female,American Indian/Alaska Native,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Probable Case,Missing,NaN,No,Missing,Missing,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593385,2022-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,NaN,Missing,Missing,Missing,3
593386,2022-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Probable Case,Symptomatic,NaN,Missing,Missing,Missing,1
593387,2022-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,NaN,Missing,Missing,Missing,10
593388,2022-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,NaN,No,Missing,Missing,1
593389,2022-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missing,Missing,Probable Case,Missing,NaN,Missing,Missing,Missing,2

In [ ]:
dfgeo_cut_grouped.dtypes

case_month                          object
res_state                           object
state_fips_code                    float64
res_county                          object
county_fips_code                   float64
age_group                           object
sex                                 object
race                                object
ethnicity                           object
case_positive_specimen_interval    float64
case_onset_interval                float64
process                             object
exposure_yn                         object
current_status                      object
symptom_status                      object
underlying_conditions_yn            object
hosp_yn                             object
icu_yn                              object
death_yn                            object
CaseCount                            int64
dtype: object

In [ ]:
#we got to 593K rows from 14.02M rows for this month/
#double checking that we didn't lose any data. 
dfgeo_cut_grouped['CaseCount'].sum()

#we can reduce the rows further by cleaning up the features with consistant values, rather than 'Missing', 'Unknown' etc.

14019883

In [ ]:
dfgeo_cut['sex'] = dfgeo_cut['sex'].replace(['Unknown'],'Missing')
dfgeo_cut['race'] = dfgeo_cut['race'].replace(['Unknown'],'Missing')
dfgeo_cut['ethnicity'] = dfgeo_cut['ethnicity'].replace(['Unknown'],'Missing')
dfgeo_cut['process'] = dfgeo_cut['process'].replace(['Unknown'],'Missing')
dfgeo_cut['process'] = dfgeo_cut['process'].replace(['Other detection method (specify)'],'Other')
dfgeo_cut['exposure_yn'] = dfgeo_cut['exposure_yn'].replace(['Unknown'],'Missing')
dfgeo_cut['symptom_status'] = dfgeo_cut['symptom_status'].replace(['Unknown', 'nul'],'Missing')
dfgeo_cut['hosp_yn'] = dfgeo_cut['hosp_yn'].replace(['Unknown'],'Missing')
dfgeo_cut['icu_yn'] = dfgeo_cut['icu_yn'].replace(['Unknown','nul'],'Missing')
dfgeo_cut['death_yn'] = dfgeo_cut['death_yn'].replace(['Unknown'],'Missing')
dfgeo_cut.fillna('Missing', inplace=True)

In [ ]:
dfgeo_cut_grouped1 = dfgeo_cut.groupby(['case_month', 'res_state', 'state_fips_code', 'res_county',
       'county_fips_code', 'age_group', 'sex', 'race', 'ethnicity',
       'case_positive_specimen_interval', 'case_onset_interval', 'process',
       'exposure_yn', 'current_status', 'symptom_status', 'underlying_conditions_yn', 'hosp_yn', 'icu_yn',
       'death_yn'],dropna=False).size().reset_index(name='CaseCount')
dfgeo_cut_grouped1      

#with this clean-up, we were able to reduce the size further from 593K to 486K

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,underlying_conditions_yn,hosp_yn,icu_yn,death_yn,CaseCount
0,2022-01,AK,2.0,ANCHORAGE,2020.0,0 - 17 years,Female,American Indian/Alaska Native,Missing,Missing,Missing,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,Missing,7
1,2022-01,AK,2.0,ANCHORAGE,2020.0,0 - 17 years,Female,American Indian/Alaska Native,Missing,Missing,Missing,Missing,Missing,Laboratory-confirmed case,Missing,Missing,No,Missing,Missing,1
2,2022-01,AK,2.0,ANCHORAGE,2020.0,0 - 17 years,Female,American Indian/Alaska Native,Missing,Missing,Missing,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,Missing,4
3,2022-01,AK,2.0,ANCHORAGE,2020.0,0 - 17 years,Female,American Indian/Alaska Native,Non-Hispanic/Latino,Missing,Missing,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,Missing,27
4,2022-01,AK,2.0,ANCHORAGE,2020.0,0 - 17 years,Female,American Indian/Alaska Native,Non-Hispanic/Latino,Missing,Missing,Missing,Missing,Laboratory-confirmed case,Missing,Missing,No,Missing,Missing,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486794,2022-01,WY,56.0,UINTA,56041.0,65+ years,Missing,Missing,Missing,1.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,Missing,1
486795,2022-01,WY,56.0,UINTA,56041.0,Missing,Missing,Missing,Missing,0.0,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,Missing,Missing,Missing,1
486796,2022-01,WY,56.0,UINTA,56041.0,Missing,Missing,Missing,Missing,0.0,Missing,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,Missing,11
486797,2022-01,WY,56.0,UINTA,56041.0,Missing,Missing,Missing,Missing,Missing,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,Missing,Missing,Missing,9
486798,2022-01,WY,56.0,UINTA,56041.0,Missing,Missing,Missing,Missing,Missing,0.0,Missing,Yes,Probable Case,Symptomatic,Yes,Missing,Missing,Missing,1

In [ ]:
dfgeo_cut_grouped1['CaseCount'].sum()

14019883

In [ ]:
#A straight up grouping of the full data gets us fron 63M rows to 7.85M
dfgeo.groupby(['case_month', 'res_state', 'state_fips_code', 'res_county',
       'county_fips_code', 'age_group', 'sex', 'race', 'ethnicity',
       'case_positive_specimen_interval', 'case_onset_interval', 'process',
       'exposure_yn', 'current_status', 'symptom_status', 'underlying_conditions_yn', 'hosp_yn', 'icu_yn',
       'death_yn'],dropna=False).size().reset_index(name='CaseCount')

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,underlying_conditions_yn,hosp_yn,icu_yn,death_yn,CaseCount
0,2020-01,AL,1.0,CLARKE,1025.0,NaN,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,NaN,No,Missing,Missing,11
1,2020-01,AL,1.0,JEFFERSON,1073.0,NaN,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,NaN,Missing,Missing,NaN,3
2,2020-01,AL,1.0,JEFFERSON,1073.0,NaN,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,NaN,No,Missing,NaN,7
3,2020-01,AL,1.0,JEFFERSON,1073.0,NaN,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Probable Case,Symptomatic,NaN,Missing,Missing,NaN,1
4,2020-01,AL,1.0,JEFFERSON,1073.0,NaN,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Probable Case,Symptomatic,NaN,No,Missing,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7851186,2022-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missing,Missing,Probable Case,Missing,NaN,Missing,Missing,Missing,5
7851187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Clinical evaluation,Unknown,Laboratory-confirmed case,Symptomatic,NaN,No,No,NaN,1
7851188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Contact tracing of case patient,Yes,Laboratory-confirmed case,Symptomatic,NaN,Yes,No,NaN,1
7851189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Contact tracing of case patient,Yes,Laboratory-confirmed case,Symptomatic,Yes,Yes,No,NaN,1
7851190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Symptomatic,NaN,No,No,NaN,1

In [ ]:
#performing the clean up on full data

dfgeo['sex'] = dfgeo['sex'].replace(['Unknown'],'Missing')
dfgeo['race'] = dfgeo['race'].replace(['Unknown'],'Missing')
dfgeo['ethnicity'] = dfgeo['ethnicity'].replace(['Unknown'],'Missing')
dfgeo['process'] = dfgeo['process'].replace(['Unknown'],'Missing')
dfgeo['process'] = dfgeo['process'].replace(['Other detection method (specify)'],'Other')
dfgeo['exposure_yn'] = dfgeo['exposure_yn'].replace(['Unknown'],'Missing')
dfgeo['symptom_status'] = dfgeo['symptom_status'].replace(['Unknown', 'nul'],'Missing')
dfgeo['hosp_yn'] = dfgeo['hosp_yn'].replace(['Unknown'],'Missing')
dfgeo['icu_yn'] = dfgeo['icu_yn'].replace(['Unknown','nul'],'Missing')
dfgeo['death_yn'] = dfgeo['death_yn'].replace(['Unknown'],'Missing')
dfgeo.fillna('Missing', inplace=True)

In [ ]:
#checking the shrinkage after clean-up
dfgeo_grouped = dfgeo.groupby(['case_month', 'res_state', 'state_fips_code', 'res_county',
       'county_fips_code', 'age_group', 'sex', 'race', 'ethnicity',
       'case_positive_specimen_interval', 'case_onset_interval', 'process',
       'exposure_yn', 'current_status', 'symptom_status', 'underlying_conditions_yn', 'hosp_yn', 'icu_yn',
       'death_yn'],dropna=False).size().reset_index(name='CaseCount')
dfgeo_grouped      
#With the clean-up, we got a solid 1M further shrinkage from 7.85M to 6.8M rows.

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,underlying_conditions_yn,hosp_yn,icu_yn,death_yn,CaseCount
0,2020-01,AL,1.0,CLARKE,1025.0,Missing,Missing,Missing,Missing,Missing,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,No,Missing,Missing,11
1,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,Missing,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,Missing,3
2,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,Missing,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,No,Missing,Missing,7
3,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,Missing,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,Missing,Missing,Missing,1
4,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,Missing,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,No,Missing,Missing,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6780991,2022-02,WY,56.0,UINTA,56041.0,65+ years,Missing,Missing,Missing,1.0,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,Missing,Missing,Missing,2
6780992,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,0.0,0.0,Clinical evaluation,Missing,Laboratory-confirmed case,Symptomatic,Missing,No,No,Missing,1
6780993,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,0.0,0.0,Contact tracing of case patient,Yes,Laboratory-confirmed case,Symptomatic,Missing,Yes,No,Missing,1
6780994,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,0.0,Missing,Contact tracing of case patient,Yes,Laboratory-confirmed case,Symptomatic,Yes,Yes,No,Missing,1
6780995,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,0.0,Missing,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,No,No,Missing,1

In [ ]:
dfgeo_grouped['CaseCount'].sum()

63272363

In [ ]:
for cat in cats:
    x = dfgeo_grouped.groupby([cat]).size().reset_index(name='counts')
    print(x)

   case_month  counts
0     2020-01    1233
1     2020-02    2211
2     2020-03   84268
3     2020-04  139240
4     2020-05  141028
5     2020-06  176115
6     2020-07  259892
7     2020-08  225457
8     2020-09  227369
9     2020-10  333012
10    2020-11  504972
11    2020-12  539669
12    2021-01  494865
13    2021-02  275749
14    2021-03  244235
15    2021-04  235705
16    2021-05  158600
17    2021-06   95968
18    2021-07  215583
19    2021-08  397411
20    2021-09  396348
21    2021-10  307849
22    2021-11  308754
23    2021-12  397648
24    2022-01  486799
25    2022-02  131012
26    Missing       4
   res_state  counts
0         AK   18624
1         AL  119004
2         AR  210546
3         AZ   91882
4         CA  383784
5         CO  102576
6         CT   19941
7         DC   10210
8         DE    4506
9         FL  213041
10        GA  103233
11        GU   10636
12        HI    6878
13        IA  120075
14        ID  105677
15        IL  142820
16        IN   84501
17        KS  232017
18        KY  252147
19        LA  204727
20        MA   74704
21        MD   60328
22        ME   23441
23        MI  115476
24        MN  205680
25        MO  106541
26        MS    8211
27        MT   24851
28   Missing     468
29        NC  450393
30        ND   16631
31        NE   15415
32        NH   19803
33        NJ  171757
34        NM   33494
35        NV  135295
36        NY  354085
37        OH  777083
38        OK   81531
39        OR   47139
40        PA  382673
41        PR    8893
42        RI    5798
43        SC  137349
44        SD    8553
45        TN  365665
46        TX   76359
47        UT  129219
48        VA  199127
49        VI    4440
50        VT   26182
51        WA  100076
52        WI  124932
53        WV     722
54        WY   51857
       res_county  counts
0       ABBEVILLE    1293
1          ACADIA    3681
2        ACCOMACK    1126
3             ADA   10877
4           ADAIR    1694
...           ...     ...
1137  YELLOWSTONE    2991
1138         YOLO    4576
1139         YORK   23450
1140         YUBA    2601
1141         YUMA    4697

[1142 rows x 2 columns]
        age_group   counts
0    0 - 17 years  1173591
1  18 to 49 years  2636987
2  50 to 64 years  1475789
3       65+ years  1299930
4         Missing   194699
       sex   counts
0   Female  3265996
1     Male  2967115
2  Missing   547829
3    Other       56
                                     race   counts
0           American Indian/Alaska Native    64687
1                                   Asian   184917
2                                   Black   748758
3                                 Missing  2069493
4                          Multiple/Other   194797
5  Native Hawaiian/Other Pacific Islander    22119
6                                   White  3496225
             ethnicity   counts
0      Hispanic/Latino   512353
1              Missing  2748242
2  Non-Hispanic/Latino  3520401
                           process   counts
0                          Autopsy      122
1              Clinical evaluation   526330
2  Contact tracing of case patient    86400
3              Laboratory reported    87792
4                          Missing  5796511
5                         Multiple   118660
6                            Other    17453
7                Provider reported    13750
8     Routine physical examination      270
9             Routine surveillance   133708
  exposure_yn   counts
0     Missing  5392793
1         Yes  1388203
              current_status   counts
0  Laboratory-confirmed case  5125730
1              Probable Case  1655266
  symptom_status   counts
0   Asymptomatic   347291
1        Missing  2155709
2    Symptomatic  4277996
   hosp_yn   counts
0  Missing  2472984
1       No  3380802
2      Yes   927210
    icu_yn   counts
0  Missing  5743661
1       No   925332
2      Yes   112003
  death_yn   counts
0  Missing  3734875
1       No  2936157
2      Yes   109964
  underlying_conditions_yn   counts
0                  Missing  5481887
1                       No    29740
2                      Yes  1269369

In [ ]:
dfgeo_grouped = dfgeo = pd.read_csv ('/content/drive/MyDrive/CSE6242/dfgeo_grouped.csv')

In [ ]:
dfgeo_grouped

,Unnamed: 0,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,...,case_onset_interval,process,exposure_yn,current_status,symptom_status,underlying_conditions_yn,hosp_yn,icu_yn,death_yn,CaseCount
0,0,2020-01,AL,1.0,CLARKE,1025.0,Missing,Missing,Missing,Missing,...,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,No,Missing,Missing,11
1,1,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,...,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,Missing,3
2,2,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,...,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,No,Missing,Missing,7
3,3,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,...,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,Missing,Missing,Missing,1
4,4,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,...,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,No,Missing,Missing,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6780991,6780991,2022-02,WY,56.0,UINTA,56041.0,65+ years,Missing,Missing,Missing,...,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,Missing,Missing,Missing,2
6780992,6780992,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,...,0.0,Clinical evaluation,Missing,Laboratory-confirmed case,Symptomatic,Missing,No,No,Missing,1
6780993,6780993,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,...,0.0,Contact tracing of case patient,Yes,Laboratory-confirmed case,Symptomatic,Missing,Yes,No,Missing,1
6780994,6780994,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,...,Missing,Contact tracing of case patient,Yes,Laboratory-confirmed case,Symptomatic,Yes,Yes,No,Missing,1
6780995,6780995,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,...,Missing,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,No,No,Missing,1

## **Bringing in the Vaccination Data**

This data will be joined with the Cases data.

In [ ]:
dfvax = pd.read_csv("/content/drive/MyDrive/CSE6242/COVID-19_Vaccinations_in_the_United_States_County.csv")

In [ ]:
dfvax.describe()

,MMWR_week,Completeness_pct,Administered_Dose1_Recip,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_5Plus,Administered_Dose1_Recip_5PlusPop_Pct,Administered_Dose1_Recip_12Plus,Administered_Dose1_Recip_12PlusPop_Pct,Administered_Dose1_Recip_18Plus,Administered_Dose1_Recip_18PlusPop_Pct,...,Series_Complete_Pop_Pct_UR_Equity,Series_Complete_5PlusPop_Pct_UR_Equity,Series_Complete_12PlusPop_Pct_UR_Equity,Series_Complete_18PlusPop_Pct_UR_Equity,Series_Complete_65PlusPop_Pct_UR_Equity,Census2019,Census2019_5PlusPop,Census2019_12PlusPop,Census2019_18PlusPop,Census2019_65PlusPop
count,1.483393e+06,1.483393e+06,1.441088e+06,1.483393e+06,2.999660e+05,299966.000000,1.388307e+06,1.465036e+06,1.406465e+06,1.483393e+06,...,1.248248e+06,291536.000000,1.233021e+06,1.248459e+06,1.247742e+06,1.455892e+06,2.963100e+05,1.455510e+06,1.455892e+06,2.093650e+05
mean,2.441679e+01,7.825606e+01,4.764969e+04,3.314920e+01,7.461214e+04,56.652933,4.812017e+04,3.733385e+01,4.504241e+04,3.911333e+01,...,4.674187e+00,5.806590,5.004122e+00,5.132869e+00,5.454358e+00,1.029493e+05,9.683720e+04,8.794572e+04,8.008276e+04,1.699906e+04
std,1.659766e+01,3.379986e+01,1.969186e+05,2.410281e+01,2.650608e+05,21.249562,1.971146e+05,2.788936e+01,1.832037e+05,2.860088e+01,...,2.145253e+00,1.945965,2.233958e+00,2.260567e+00,2.215757e+00,3.295063e+05,3.094141e+05,2.808176e+05,2.560861e+05,4.857234e+04
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,8.600000e+01,8.600000e+01,8.600000e+01,8.600000e+01,2.300000e+01
25%,8.000000e+00,8.310000e+01,1.723000e+03,9.100000e+00,5.267000e+03,48.000000,1.721000e+03,7.400000e+00,1.684000e+03,8.300000e+00,...,3.000000e+00,4.000000,4.000000e+00,4.000000e+00,4.000000e+00,1.113100e+04,1.048300e+04,9.597000e+03,8.781000e+03,2.239000e+03
50%,2.300000e+01,9.450000e+01,7.230000e+03,3.610000e+01,1.409950e+04,57.900000,7.337000e+03,4.130000e+01,7.028000e+03,4.420000e+01,...,5.000000e+00,6.000000,5.000000e+00,5.000000e+00,6.000000e+00,2.610800e+04,2.461700e+04,2.235500e+04,2.037400e+04,5.063000e+03
75%,3.900000e+01,9.750000e+01,2.392200e+04,5.120000e+01,4.159350e+04,68.700000,2.422000e+04,5.930000e+01,2.296000e+04,6.190000e+01,...,6.000000e+00,8.000000,7.000000e+00,7.000000e+00,8.000000e+00,6.721500e+04,6.349900e+04,5.744800e+04,5.236100e+04,1.278000e+04
max,5.300000e+01,1.000000e+02,8.071750e+06,1.000000e+02,8.070054e+06,99.900000,7.777000e+06,1.000000e+02,7.137291e+06,1.000000e+02,...,8.000000e+00,8.000000,8.000000e+00,8.000000e+00,8.000000e+00,1.003911e+07,9.459251e+06,8.619513e+06,7.894557e+06,1.413753e+06

In [ ]:
vaxcats = [col for col in dfvax.columns if dfvax[col].dtypes == "O"]
print(vaxcats)

['Date', 'FIPS', 'Recip_County', 'Recip_State', 'SVI_CTGY', 'Metro_status']

In [ ]:
dfvax['month_year'] = pd.to_datetime(dfvax['Date']).dt.to_period('M')
dfvax.head()

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Completeness_pct,Administered_Dose1_Recip,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_5Plus,Administered_Dose1_Recip_5PlusPop_Pct,...,Series_Complete_5PlusPop_Pct_UR_Equity,Series_Complete_12PlusPop_Pct_UR_Equity,Series_Complete_18PlusPop_Pct_UR_Equity,Series_Complete_65PlusPop_Pct_UR_Equity,Census2019,Census2019_5PlusPop,Census2019_12PlusPop,Census2019_18PlusPop,Census2019_65PlusPop,month_year
0,03/09/2022,42033,10,Clearfield County,PA,94.7,44175.0,55.7,44173.0,58.5,...,8.0,8.0,8.0,8.0,79255.0,75553.0,70103.0,64899.0,16614.0,2022-03
1,03/09/2022,44001,10,Bristol County,RI,89.7,42723.0,88.1,42712.0,91.8,...,4.0,4.0,4.0,4.0,48479.0,46506.0,43057.0,39441.0,9795.0,2022-03
2,03/09/2022,34015,10,Gloucester County,NJ,93.9,218202.0,74.8,218190.0,78.9,...,4.0,4.0,4.0,4.0,291636.0,276411.0,251839.0,228537.0,47572.0,2022-03
3,03/09/2022,21027,10,Breckinridge County,KY,94.0,11622.0,56.8,11621.0,60.5,...,8.0,8.0,8.0,8.0,20477.0,19224.0,17509.0,15872.0,4047.0,2022-03
4,03/09/2022,39103,10,Medina County,OH,98.6,119947.0,66.7,119944.0,70.4,...,4.0,4.0,4.0,4.0,179746.0,170343.0,155086.0,140169.0,33188.0,2022-03

In [ ]:
vax_cols = dfvax.columns
vax_cols

Index(['Date', 'FIPS', 'MMWR_week', 'Recip_County', 'Recip_State',
       'Completeness_pct', 'Administered_Dose1_Recip',
       'Administered_Dose1_Pop_Pct', 'Administered_Dose1_Recip_5Plus',
       'Administered_Dose1_Recip_5PlusPop_Pct',
       'Administered_Dose1_Recip_12Plus',
       'Administered_Dose1_Recip_12PlusPop_Pct',
       'Administered_Dose1_Recip_18Plus',
       'Administered_Dose1_Recip_18PlusPop_Pct',
       'Administered_Dose1_Recip_65Plus',
       'Administered_Dose1_Recip_65PlusPop_Pct', 'Series_Complete_Yes',
       'Series_Complete_Pop_Pct', 'Series_Complete_5Plus',
       'Series_Complete_5PlusPop_Pct', 'Series_Complete_12Plus',
       'Series_Complete_12PlusPop_Pct', 'Series_Complete_18Plus',
       'Series_Complete_18PlusPop_Pct', 'Series_Complete_65Plus',
       'Series_Complete_65PlusPop_Pct', 'Booster_Doses',
       'Booster_Doses_Vax_Pct', 'Booster_Doses_12Plus',
       'Booster_Doses_12Plus_Vax_Pct', 'Booster_Doses_18Plus',
       'Booster_Doses_18Plus_Vax_Pct', 'Booster_Doses_50Plus',
       'Booster_Doses_50Plus_Vax_Pct', 'Booster_Doses_65Plus',
       'Booster_Doses_65Plus_Vax_Pct', 'SVI_CTGY',
       'Series_Complete_Pop_Pct_SVI', 'Series_Complete_5PlusPop_Pct_SVI',
       'Series_Complete_12PlusPop_Pct_SVI',
       'Series_Complete_18PlusPop_Pct_SVI',
       'Series_Complete_65PlusPop_Pct_SVI', 'Metro_status',
       'Series_Complete_Pop_Pct_UR_Equity',
       'Series_Complete_5PlusPop_Pct_UR_Equity',
       'Series_Complete_12PlusPop_Pct_UR_Equity',
       'Series_Complete_18PlusPop_Pct_UR_Equity',
       'Series_Complete_65PlusPop_Pct_UR_Equity', 'Census2019',
       'Census2019_5PlusPop', 'Census2019_12PlusPop', 'Census2019_18PlusPop',
       'Census2019_65PlusPop', 'month_year'],
      dtype='object')

In [ ]:
vax_cols_needed = [ 'month_year','Date', 'FIPS', 'Recip_County', 'Recip_State',
       'Completeness_pct', 'Metro_status','Census2019']

In [ ]:
dfvax_new = dfvax[vax_cols_needed]

In [ ]:
for cols in vax_cols_needed:
    x = dfvax_new.groupby([cols]).size().reset_index(name='counts')
    print(x)

   month_year  counts
0     2020-12   62148
1     2021-01  101742
2     2021-02   91896
3     2021-03  101742
4     2021-04   98460
5     2021-05  101742
6     2021-06   98460
7     2021-07  101742
8     2021-08  101742
9     2021-09   98460
10    2021-10  101752
11    2021-11   98490
12    2021-12  101773
13    2022-01  101773
14    2022-02   91924
15    2022-03   29547
           Date  counts
0    01/01/2021    3282
1    01/01/2022    3283
2    01/02/2021    3282
3    01/02/2022    3283
4    01/03/2021    3282
..          ...     ...
447  12/29/2021    3283
448  12/30/2020    3282
449  12/30/2021    3283
450  12/31/2020    3282
451  12/31/2021    3283

[452 rows x 2 columns]
       FIPS  counts
0     01001     452
1     01003     452
2     01005     452
3     01007     452
4     01009     452
...     ...     ...
3220  72153     452
3221  78010     452
3222  78020     452
3223  78030     452
3224    UNK   26145

[3225 rows x 2 columns]
                   Recip_County  counts
0              Abbeville County     452
1                 Acadia Parish     452
2               Accomack County     452
3                    Ada County     452
4                  Adair County    1808
...                         ...     ...
1955  Yukon-Koyukuk Census Area     452
1956                Yuma County     904
1957              Zapata County     452
1958              Zavala County     452
1959             Ziebach County     452

[1960 rows x 2 columns]
   Recip_State  counts
0           AK   13556
1           AL   30732
2           AR   34349
3           AS     443
4           AZ    7229
5           CA   26665
6           CO   29377
7           CT    4065
8           DC     900
9           DE    1805
10          FL   30733
11          FM     448
12          GA   72317
13          GU     899
14          HI    2399
15          IA   45197
16          ID   20337
17          IL   46554
18          IN   42033
19          KS   47909
20          KY   54690
21          LA   29377
22          MA    6777
23          MD   11297
24          ME    7681
25          MH     435
26          MI   37966
27          MN   39774
28          MO   52429
29          MP     445
30          MS   37513
31          MT   25761
32          NC   45650
33          ND   24406
34          NE   42485
35          NH    4969
36          NJ    9941
37          NM   15365
38          NV    8133
39          NY   28474
40          OH   40225
41          OK   35253
42          OR   16720
43          PA   30734
44          PR   35704
45          PW     442
46          RI    2709
47          SC   21242
48          SD   30282
49          TN   43389
50          TX  114947
51         UNK     308
52          UT   13557
53          VA   60566
54          VI    1798
55          VT    6778
56          WA   18077
57          WI   32994
58          WV   25308
59          WY   10845
     Completeness_pct  counts
0                 0.0  208571
1                 0.9       1
2                 1.3       3
3                13.6       7
4                14.1       7
..                ...     ...
612              99.5    2193
613              99.6    3125
614              99.7      72
615              99.9     116
616             100.0     578

[617 rows x 2 columns]
  Metro_status  counts
0        Metro  558220
1    Non-metro  896768
      Census2019  counts
0           86.0     452
1          169.0     452
2          272.0     452
3          404.0     452
4          463.0     452
...          ...     ...
3161   3338330.0     452
3162   4485414.0     452
3163   4713325.0     452
3164   5150233.0     452
3165  10039107.0     452

[3166 rows x 2 columns]

In [ ]:
dfvax_new_cut = dfvax_new[dfvax_new['month_year']=='2022-02']

In [ ]:
dfvax_new_cut

,month_year,Date,FIPS,Recip_County,Recip_State,Completeness_pct,Metro_status,Census2019
29547,2022-02,02/28/2022,38091,Steele County,ND,92.6,Non-metro,1890.0
29548,2022-02,02/28/2022,51820,Waynesboro city,VA,79.4,Metro,22630.0
29549,2022-02,02/28/2022,51059,Fairfax County,VA,79.4,Metro,1147532.0
29550,2022-02,02/28/2022,38017,Cass County,ND,92.6,Metro,181923.0
29551,2022-02,02/28/2022,41009,Columbia County,OR,97.8,Metro,52354.0
...,...,...,...,...,...,...,...,...
121466,2022-02,02/01/2022,48353,Nolan County,TX,99.0,Non-metro,14714.0
121467,2022-02,02/01/2022,18081,Johnson County,IN,98.6,Metro,158167.0
121468,2022-02,02/01/2022,51159,Richmond County,VA,79.8,Non-metro,9023.0
121469,2022-02,02/01/2022,46101,Moody County,SD,96.7,Non-metro,6576.0
121470,2022-02,02/01/2022,45025,Chesterfield County,SC,93.1,Non-metro,45650.0

In [ ]:
dfvax_cut_groups = dfvax_new_cut.groupby(['month_year', 'FIPS', 'Recip_County', 'Recip_State',
        'Metro_status','Census2019']).agg({'Date': ['min', 'max']}).reset_index().rename(columns={'min':'month_start','max' : 'month_end'})

In [ ]:
dfvax_cut_groups.columns = ['month_year', 'FIPS', 'Recip_County','Recip_State','Metro_status','Census2019Pop','month_start','month_end']

In [ ]:
dfvax_cut_groups_merged = pd.merge(dfvax_cut_groups, dfvax_new_cut,  how='left', left_on=['month_year','FIPS','Recip_County','Recip_State','month_start'], right_on = ['month_year','FIPS',	'Recip_County',	'Recip_State','Date'])
dfvax_cut_groups_merged

,month_year,FIPS,Recip_County,Recip_State,Metro_status_x,Census2019Pop,month_start,month_end,Date,Completeness_pct,Metro_status_y,Census2019
0,2022-02,01001,Autauga County,AL,Metro,55869.0,02/01/2022,02/28/2022,02/01/2022,92.4,Metro,55869.0
1,2022-02,01003,Baldwin County,AL,Metro,223234.0,02/01/2022,02/28/2022,02/01/2022,92.4,Metro,223234.0
2,2022-02,01005,Barbour County,AL,Non-metro,24686.0,02/01/2022,02/28/2022,02/01/2022,92.4,Non-metro,24686.0
3,2022-02,01007,Bibb County,AL,Metro,22394.0,02/01/2022,02/28/2022,02/01/2022,92.4,Metro,22394.0
4,2022-02,01009,Blount County,AL,Metro,57826.0,02/01/2022,02/28/2022,02/01/2022,92.4,Metro,57826.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3214,2022-02,72145,Vega Baja Municipio,PR,Metro,50023.0,02/01/2022,02/28/2022,02/01/2022,95.9,Metro,50023.0
3215,2022-02,72147,Vieques Municipio,PR,Non-metro,8386.0,02/01/2022,02/28/2022,02/01/2022,95.9,Non-metro,8386.0
3216,2022-02,72149,Villalba Municipio,PR,Metro,21372.0,02/01/2022,02/28/2022,02/01/2022,95.9,Metro,21372.0
3217,2022-02,72151,Yabucoa Municipio,PR,Metro,32282.0,02/01/2022,02/28/2022,02/01/2022,95.9,Metro,32282.0
3218,2022-02,72153,Yauco Municipio,PR,Metro,33575.0,02/01/2022,02/28/2022,02/01/2022,95.9,Metro,33575.0

In [ ]:
vax_cols_needed1 = [ 'month_year', 'FIPS', 'Recip_County', 'Recip_State', 'Metro_status_y','Census2019'
,'month_start','Completeness_pct','month_end']

In [ ]:
dfvax_cut_groups_merged=dfvax_cut_groups_merged[vax_cols_needed1]
dfvax_cut_groups_merged.columns = ['month_year', 'FIPS', 'County','State','Metro_status','Census2019Pop','month_start','vax_pct_month_start','month_end']

In [ ]:
dfvax_cut_groups_merged = pd.merge(dfvax_cut_groups_merged, dfvax_new_cut,  how='left', left_on=['month_year','FIPS','County','State','month_end'], right_on = ['month_year','FIPS',	'Recip_County',	'Recip_State','Date'])
dfvax_cut_groups_merged

,month_year,FIPS,County,State,Metro_status_x,Census2019Pop,month_start,vax_pct_month_start,month_end,Date,Recip_County,Recip_State,Completeness_pct,Metro_status_y,Census2019
0,2022-02,01001,Autauga County,AL,Metro,55869.0,02/01/2022,92.4,02/28/2022,02/28/2022,Autauga County,AL,92.4,Metro,55869.0
1,2022-02,01003,Baldwin County,AL,Metro,223234.0,02/01/2022,92.4,02/28/2022,02/28/2022,Baldwin County,AL,92.4,Metro,223234.0
2,2022-02,01005,Barbour County,AL,Non-metro,24686.0,02/01/2022,92.4,02/28/2022,02/28/2022,Barbour County,AL,92.4,Non-metro,24686.0
3,2022-02,01007,Bibb County,AL,Metro,22394.0,02/01/2022,92.4,02/28/2022,02/28/2022,Bibb County,AL,92.4,Metro,22394.0
4,2022-02,01009,Blount County,AL,Metro,57826.0,02/01/2022,92.4,02/28/2022,02/28/2022,Blount County,AL,92.4,Metro,57826.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3214,2022-02,72145,Vega Baja Municipio,PR,Metro,50023.0,02/01/2022,95.9,02/28/2022,02/28/2022,Vega Baja Municipio,PR,95.9,Metro,50023.0
3215,2022-02,72147,Vieques Municipio,PR,Non-metro,8386.0,02/01/2022,95.9,02/28/2022,02/28/2022,Vieques Municipio,PR,95.9,Non-metro,8386.0
3216,2022-02,72149,Villalba Municipio,PR,Metro,21372.0,02/01/2022,95.9,02/28/2022,02/28/2022,Villalba Municipio,PR,95.9,Metro,21372.0
3217,2022-02,72151,Yabucoa Municipio,PR,Metro,32282.0,02/01/2022,95.9,02/28/2022,02/28/2022,Yabucoa Municipio,PR,95.9,Metro,32282.0
3218,2022-02,72153,Yauco Municipio,PR,Metro,33575.0,02/01/2022,95.9,02/28/2022,02/28/2022,Yauco Municipio,PR,95.9,Metro,33575.0

In [ ]:
vax_cols_needed2 = [ 'month_year', 'FIPS', 'County', 'State', 'Metro_status_x','Census2019Pop'
,'month_start','vax_pct_month_start','month_end','Completeness_pct']
dfvax_cut_groups_merged=dfvax_cut_groups_merged[vax_cols_needed2]
dfvax_cut_groups_merged.columns = ['month_year', 'FIPS', 'County','State','Metro_status','Census2019Pop','month_start','vax_pct_month_start','month_end','vax_pct_month_end']
dfvax_cut_groups_merged

,month_year,FIPS,County,State,Metro_status,Census2019Pop,month_start,vax_pct_month_start,month_end,vax_pct_month_end
0,2022-02,01001,Autauga County,AL,Metro,55869.0,02/01/2022,92.4,02/28/2022,92.4
1,2022-02,01003,Baldwin County,AL,Metro,223234.0,02/01/2022,92.4,02/28/2022,92.4
2,2022-02,01005,Barbour County,AL,Non-metro,24686.0,02/01/2022,92.4,02/28/2022,92.4
3,2022-02,01007,Bibb County,AL,Metro,22394.0,02/01/2022,92.4,02/28/2022,92.4
4,2022-02,01009,Blount County,AL,Metro,57826.0,02/01/2022,92.4,02/28/2022,92.4
...,...,...,...,...,...,...,...,...,...,...
3214,2022-02,72145,Vega Baja Municipio,PR,Metro,50023.0,02/01/2022,95.9,02/28/2022,95.9
3215,2022-02,72147,Vieques Municipio,PR,Non-metro,8386.0,02/01/2022,95.9,02/28/2022,95.9
3216,2022-02,72149,Villalba Municipio,PR,Metro,21372.0,02/01/2022,95.9,02/28/2022,95.9
3217,2022-02,72151,Yabucoa Municipio,PR,Metro,32282.0,02/01/2022,95.9,02/28/2022,95.9
3218,2022-02,72153,Yauco Municipio,PR,Metro,33575.0,02/01/2022,95.9,02/28/2022,95.9

In [ ]:
dfvax_cut_groups_merged[(dfvax_cut_groups_merged['State']=='WA')& (dfvax_cut_groups_merged['County']=='King County')]

,month_year,FIPS,County,State,Metro_status,Census2019Pop,month_start,vax_pct_month_start,month_end,vax_pct_month_end
2968,2022-02,53033,King County,WA,Metro,2252782.0,02/01/2022,96.1,02/28/2022,96.0

**Performing the same operation on the full Vaccination dataset**

In [ ]:
dfvax_grouped = dfvax_new.groupby(['month_year', 'FIPS', 'Recip_County', 'Recip_State',
        'Metro_status','Census2019']).agg({'Date': ['min', 'max']}).reset_index().rename(columns={'min':'month_start','max' : 'month_end'})

In [ ]:
dfvax_grouped.columns = ['month_year', 'FIPS', 'Recip_County','Recip_State','Metro_status','Census2019Pop','month_start','month_end']

In [ ]:
dfvax_grouped_merged = pd.merge(dfvax_grouped, dfvax_new,  how='left', left_on=['month_year','FIPS','Recip_County','Recip_State','month_start'], right_on = ['month_year','FIPS',	'Recip_County',	'Recip_State','Date'])
dfvax_grouped_merged

,month_year,FIPS,Recip_County,Recip_State,Metro_status_x,Census2019Pop,month_start,month_end,Date,Completeness_pct,Metro_status_y,Census2019
0,2020-12,01001,Autauga County,AL,Metro,55869.0,12/13/2020,12/31/2020,12/13/2020,0.0,Metro,55869.0
1,2020-12,01003,Baldwin County,AL,Metro,223234.0,12/13/2020,12/31/2020,12/13/2020,0.0,Metro,223234.0
2,2020-12,01005,Barbour County,AL,Non-metro,24686.0,12/13/2020,12/31/2020,12/13/2020,0.0,Non-metro,24686.0
3,2020-12,01007,Bibb County,AL,Metro,22394.0,12/13/2020,12/31/2020,12/13/2020,0.0,Metro,22394.0
4,2020-12,01009,Blount County,AL,Metro,57826.0,12/13/2020,12/31/2020,12/13/2020,0.0,Metro,57826.0
...,...,...,...,...,...,...,...,...,...,...,...,...
51499,2022-03,72145,Vega Baja Municipio,PR,Metro,50023.0,03/01/2022,03/09/2022,03/01/2022,95.9,Metro,50023.0
51500,2022-03,72147,Vieques Municipio,PR,Non-metro,8386.0,03/01/2022,03/09/2022,03/01/2022,95.9,Non-metro,8386.0
51501,2022-03,72149,Villalba Municipio,PR,Metro,21372.0,03/01/2022,03/09/2022,03/01/2022,95.9,Metro,21372.0
51502,2022-03,72151,Yabucoa Municipio,PR,Metro,32282.0,03/01/2022,03/09/2022,03/01/2022,95.9,Metro,32282.0
51503,2022-03,72153,Yauco Municipio,PR,Metro,33575.0,03/01/2022,03/09/2022,03/01/2022,95.9,Metro,33575.0

In [ ]:
dfvax_grouped_merged = dfvax_grouped_merged[vax_cols_needed1]
dfvax_grouped_merged.columns = ['month_year', 'FIPS', 'County','State','Metro_status','Census2019Pop','month_start','vax_pct_month_start','month_end']

In [ ]:
dfvax_grouped_merged = pd.merge(dfvax_grouped_merged, dfvax_new,  how='left', left_on=['month_year','FIPS','County','State','month_end'], right_on = ['month_year','FIPS',	'Recip_County',	'Recip_State','Date'])
dfvax_grouped_merged

,month_year,FIPS,County,State,Metro_status_x,Census2019Pop,month_start,vax_pct_month_start,month_end,Date,Recip_County,Recip_State,Completeness_pct,Metro_status_y,Census2019
0,2020-12,01001,Autauga County,AL,Metro,55869.0,12/13/2020,0.0,12/31/2020,12/31/2020,Autauga County,AL,0.0,Metro,55869.0
1,2020-12,01003,Baldwin County,AL,Metro,223234.0,12/13/2020,0.0,12/31/2020,12/31/2020,Baldwin County,AL,0.0,Metro,223234.0
2,2020-12,01005,Barbour County,AL,Non-metro,24686.0,12/13/2020,0.0,12/31/2020,12/31/2020,Barbour County,AL,0.0,Non-metro,24686.0
3,2020-12,01007,Bibb County,AL,Metro,22394.0,12/13/2020,0.0,12/31/2020,12/31/2020,Bibb County,AL,0.0,Metro,22394.0
4,2020-12,01009,Blount County,AL,Metro,57826.0,12/13/2020,0.0,12/31/2020,12/31/2020,Blount County,AL,0.0,Metro,57826.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51499,2022-03,72145,Vega Baja Municipio,PR,Metro,50023.0,03/01/2022,95.9,03/09/2022,03/09/2022,Vega Baja Municipio,PR,95.9,Metro,50023.0
51500,2022-03,72147,Vieques Municipio,PR,Non-metro,8386.0,03/01/2022,95.9,03/09/2022,03/09/2022,Vieques Municipio,PR,95.9,Non-metro,8386.0
51501,2022-03,72149,Villalba Municipio,PR,Metro,21372.0,03/01/2022,95.9,03/09/2022,03/09/2022,Villalba Municipio,PR,95.9,Metro,21372.0
51502,2022-03,72151,Yabucoa Municipio,PR,Metro,32282.0,03/01/2022,95.9,03/09/2022,03/09/2022,Yabucoa Municipio,PR,95.9,Metro,32282.0
51503,2022-03,72153,Yauco Municipio,PR,Metro,33575.0,03/01/2022,95.9,03/09/2022,03/09/2022,Yauco Municipio,PR,95.9,Metro,33575.0

In [ ]:
dfvax_grouped_merged=dfvax_grouped_merged[vax_cols_needed2]
dfvax_grouped_merged.columns = ['month_year', 'FIPS', 'County','State','Metro_status','Census2019Pop','month_start','vax_pct_month_start','month_end','vax_pct_month_end']
dfvax_grouped_merged

,month_year,FIPS,County,State,Metro_status,Census2019Pop,month_start,vax_pct_month_start,month_end,vax_pct_month_end
0,2020-12,01001,Autauga County,AL,Metro,55869.0,12/13/2020,0.0,12/31/2020,0.0
1,2020-12,01003,Baldwin County,AL,Metro,223234.0,12/13/2020,0.0,12/31/2020,0.0
2,2020-12,01005,Barbour County,AL,Non-metro,24686.0,12/13/2020,0.0,12/31/2020,0.0
3,2020-12,01007,Bibb County,AL,Metro,22394.0,12/13/2020,0.0,12/31/2020,0.0
4,2020-12,01009,Blount County,AL,Metro,57826.0,12/13/2020,0.0,12/31/2020,0.0
...,...,...,...,...,...,...,...,...,...,...
51499,2022-03,72145,Vega Baja Municipio,PR,Metro,50023.0,03/01/2022,95.9,03/09/2022,95.9
51500,2022-03,72147,Vieques Municipio,PR,Non-metro,8386.0,03/01/2022,95.9,03/09/2022,95.9
51501,2022-03,72149,Villalba Municipio,PR,Metro,21372.0,03/01/2022,95.9,03/09/2022,95.9
51502,2022-03,72151,Yabucoa Municipio,PR,Metro,32282.0,03/01/2022,95.9,03/09/2022,95.9
51503,2022-03,72153,Yauco Municipio,PR,Metro,33575.0,03/01/2022,95.9,03/09/2022,95.9

In [ ]:
dfvax_grouped_merged[(dfvax_grouped_merged['State']=='IL') & (dfvax_grouped_merged['County']=='Cook County')]

,month_year,FIPS,County,State,Metro_status,Census2019Pop,month_start,vax_pct_month_start,month_end,vax_pct_month_end
609,2020-12,17031,Cook County,IL,Metro,5150233.0,12/13/2020,0.0,12/31/2020,97.0
3828,2021-01,17031,Cook County,IL,Metro,5150233.0,01/01/2021,97.3,01/31/2021,97.8
7047,2021-02,17031,Cook County,IL,Metro,5150233.0,02/01/2021,97.8,02/28/2021,98.0
10266,2021-03,17031,Cook County,IL,Metro,5150233.0,03/01/2021,98.0,03/31/2021,98.0
13485,2021-04,17031,Cook County,IL,Metro,5150233.0,04/01/2021,97.9,04/30/2021,97.5
16704,2021-05,17031,Cook County,IL,Metro,5150233.0,05/01/2021,97.6,05/31/2021,97.6
19923,2021-06,17031,Cook County,IL,Metro,5150233.0,06/01/2021,97.6,06/30/2021,97.7
23142,2021-07,17031,Cook County,IL,Metro,5150233.0,07/01/2021,97.7,07/31/2021,97.8
26361,2021-08,17031,Cook County,IL,Metro,5150233.0,08/01/2021,97.8,08/31/2021,97.8
29580,2021-09,17031,Cook County,IL,Metro,5150233.0,09/01/2021,97.8,09/30/2021,97.8
32799,2021-10,17031,Cook County,IL,Metro,5150233.0,10/01/2021,97.8,10/31/2021,96.9
36018,2021-11,17031,Cook County,IL,Metro,5150233.0,11/01/2021,96.9,11/30/2021,97.9
39237,2021-12,17031,Cook County,IL,Metro,5150233.0,12/01/2021,97.9,12/31/2021,98.0
42456,2022-01,17031,Cook County,IL,Metro,5150233.0,01/01/2022,98.0,01/31/2022,98.1
45675,2022-02,17031,Cook County,IL,Metro,5150233.0,02/01/2022,98.1,02/28/2022,98.0
48894,2022-03,17031,Cook County,IL,Metro,5150233.0,03/01/2022,98.0,03/09/2022,98.4

In [ ]:
dfvax_grouped_merged['month_year'] = dfvax_grouped_merged['month_year'].astype(str)
dfvax_grouped_merged['FIPS'] = dfvax_grouped_merged['FIPS'].astype(str)
dfgeo_grouped['county_fips_code'] = dfgeo_grouped['county_fips_code'].astype(str)

In [ ]:
dfgeo_merged = pd.merge(dfgeo_grouped, dfvax_grouped_merged,  how='left', left_on=['case_month','county_fips_code'], right_on = ['month_year','FIPS'])
dfgeo_merged

,Unnamed: 0,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,...,month_year,FIPS,County,State,Metro_status,Census2019Pop,month_start,vax_pct_month_start,month_end,vax_pct_month_end
0,0,2020-01,AL,1.0,CLARKE,1025.0,Missing,Missing,Missing,Missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6780991,6780991,2022-02,WY,56.0,UINTA,56041.0,65+ years,Missing,Missing,Missing,...,2022-02,56041.0,Uinta County,WY,Non-metro,20226.0,02/01/2022,97.1,02/28/2022,97.1
6780992,6780992,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6780993,6780993,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6780994,6780994,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6780995,6780995,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfgeo_cols_needed = ['case_month', 'res_state', 'state_fips_code',
       'res_county', 'county_fips_code', 'age_group', 'sex', 'race',
       'ethnicity', 'case_positive_specimen_interval', 'case_onset_interval',
       'process', 'exposure_yn', 'current_status', 'symptom_status',
       'underlying_conditions_yn', 'hosp_yn', 'icu_yn', 'death_yn',
       'CaseCount', 'Metro_status',
       'Census2019Pop', 'month_start', 'vax_pct_month_start', 'month_end',
       'vax_pct_month_end']

In [ ]:
dfgeo_merged=dfgeo_merged[dfgeo_cols_needed]
dfgeo_merged

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,...,hosp_yn,icu_yn,death_yn,CaseCount,Metro_status,Census2019Pop,month_start,vax_pct_month_start,month_end,vax_pct_month_end
0,2020-01,AL,1.0,CLARKE,1025.0,Missing,Missing,Missing,Missing,Missing,...,No,Missing,Missing,11,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,Missing,...,Missing,Missing,Missing,3,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,Missing,...,No,Missing,Missing,7,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,Missing,...,Missing,Missing,Missing,1,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01,AL,1.0,JEFFERSON,1073.0,Missing,Missing,Missing,Missing,Missing,...,No,Missing,Missing,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6780991,2022-02,WY,56.0,UINTA,56041.0,65+ years,Missing,Missing,Missing,1.0,...,Missing,Missing,Missing,2,Non-metro,20226.0,02/01/2022,97.1,02/28/2022,97.1
6780992,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,0.0,...,No,No,Missing,1,NaN,NaN,NaN,NaN,NaN,NaN
6780993,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,0.0,...,Yes,No,Missing,1,NaN,NaN,NaN,NaN,NaN,NaN
6780994,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,0.0,...,Yes,No,Missing,1,NaN,NaN,NaN,NaN,NaN,NaN
6780995,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,0.0,...,No,No,Missing,1,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfgeo_grouped.to_csv('/content/drive/MyDrive/CSE6242/dfgeo_grouped.csv')

In [ ]:
dfvax_new_cut.to_csv('/content/drive/MyDrive/CSE6242/dfvax_study.csv')

In [ ]:
dfgeo_merged.to_csv('/content/drive/MyDrive/CSE6242/dfgeo_merged.csv')

## Models Data Clean-up

In [3]:
def labels(row):
  if row['targets'] == 1 and row['pred'] == 1 :
      return 'TP'
  if row['targets'] == 1 and row['pred'] == 0 :
      return 'FN'
  if row['targets'] == 0 and row['pred'] == 1 :
      return 'FP'
  if row['targets'] == 0 and row['pred'] == 0 :
      return 'TN'

In [5]:
X = ['train', 'test']
Y = ['death', 'hosp', 'icu']
files = ['preds', 'targets', 'features']

for y in range(len(Y)):
  for x in range(len(X)):
    df_pred = pd.read_csv ('/content/drive/MyDrive/Final_dfs/'+Y[y]+'_'+X[x]+'_'+files[0]+'.csv')
    df_targets = pd.read_csv ('/content/drive/MyDrive/Final_dfs/'+Y[y]+'_'+X[x]+'_'+files[1]+'.csv')
    df_features = pd.read_csv ('/content/drive/MyDrive/Final_dfs/'+Y[y]+'_'+X[x]+'_'+files[2]+'.csv')
    df_features['month'] = (df_features['month']*11)+1 
    df_features['year'] = (df_features['year']*2)+2020
    df_features['year'] = df_features['year'].astype(int)
    df_features['year'] = df_features['year'].astype(str)
    df_features['month_name'] = df_features['month'].apply(lambda x: calendar.month_abbr[int(math.ceil(x))])
    df_features['mon-year'] = df_features['month_name']+'-'+df_features['year']
    print('Size of df: %s %s' %(Y[y],X[x]))
    print(len(df_features))
    globals()['df_%s_%s' %(Y[y],X[x])] = pd.DataFrame(df_features['mon-year'])
    globals()['df_%s_%s' %(Y[y],X[x])]['targets'] = df_targets
    globals()['df_%s_%s' %(Y[y],X[x])]['pred'] = df_pred
    globals()['df_%s_%s' %(Y[y],X[x])]['label'] = globals()['df_%s_%s' %(Y[y],X[x])].apply (lambda row: labels(row), axis=1)
    globals()['df_%s_%s' %(Y[y],X[x])]['model'] = Y[y]
    globals()['df_%s_%s' %(Y[y],X[x])]['type'] = X[x]

Size of df: death train
464186
Size of df: death test
99501
Size of df: hosp train
2110192
Size of df: hosp test
452214
Size of df: icu train
160643
Size of df: icu test
34458

In [ ]:
df_models = pd.concat([df_death_test,
          df_death_train,
           df_icu_test,
           df_icu_train,
           df_hosp_test,
           df_hosp_train
           ])

In [ ]:
df_models = df_models.dropna()
df_models

         mon-year  targets  pred label  model   type
0        Jan-2021      0.0   0.0    TN  death   test
1        Jan-2021      0.0   0.0    TN  death   test
2        Jan-2022      1.0   1.0    TP  death   test
3        Apr-2020      1.0   1.0    TP  death   test
4        Aug-2020      1.0   1.0    TP  death   test
...           ...      ...   ...   ...    ...    ...
2110187  Nov-2020      0.0   0.0    TN   hosp  train
2110188  Feb-2021      1.0   1.0    TP   hosp  train
2110189  Jan-2021      0.0   0.0    TN   hosp  train
2110190  Apr-2020      0.0   0.0    TN   hosp  train
2110191  Jan-2022      1.0   1.0    TP   hosp  train

[3321194 rows x 6 columns]

In [ ]:
df_models_grouped = df_models.groupby(['model','type','label']).size().reset_index(name='counts')
df_models_grouped

    model   type label  counts
0   death   test    FN    1784
1   death   test    FP    4480
2   death   test    TN   43931
3   death   test    TP   49306
4   death  train    FN    7760
5   death  train    FP   20967
6   death  train    TN  204982
7   death  train    TP  230477
8    hosp   test    FN   53392
9    hosp   test    FP   48354
10   hosp   test    TN  177746
11   hosp   test    TP  172722
12   hosp  train    FN  245252
13   hosp  train    FP  221512
14   hosp  train    TN  833616
15   hosp  train    TP  809812
16    icu   test    FN    2615
17    icu   test    FP    3317
18    icu   test    TN   13055
19    icu   test    TP   15471
20    icu  train    FN   10780
21    icu  train    FP   13423
22    icu  train    TN   62995
23    icu  train    TP   73445

In [6]:
df_outcomes_test = pd.read_csv ('/content/drive/MyDrive/CSE6242/df_test_preds.csv')
df_outcomes_train = pd.read_csv ('/content/drive/MyDrive/CSE6242/df_train_preds.csv')

In [7]:
df_outcomes_test['y'].unique()

array(['No Health Risk', 'Risk of Death', 'Hospitalization no ICU',
       'Hospitalization with ICU'], dtype=object)

In [9]:
df_outcomes_test = df_outcomes_test[['y','y_pred']]
df_outcomes_train = df_outcomes_train[['y','y_pred']]
len(df_outcomes_train)+len(df_outcomes_test)

25478297

In [ ]:
def labels(row):
  if row['target'] == 1 and row['pred'] == 1 :
      return 'TP'
  if row['target'] == 1 and row['pred'] == 0 :
      return 'FN'
  if row['target'] == 0 and row['pred'] == 1 :
      return 'FP'
  if row['target'] == 0 and row['pred'] == 0 :
      return 'TN' 

def classes(row,col,label):
  if row[col] == label :
    return 1
  else:
    return 0

In [ ]:
#['No Health Risk', 'Risk of Death', 'Hospitalization no ICU','Hospitalization with ICU']
No_Health_Risk_test = pd.DataFrame()
No_Health_Risk_train = pd.DataFrame()
No_Health_Risk_test['target'] = df_outcomes_test.apply (lambda row: classes(row,'y','No Health Risk'), axis=1)
No_Health_Risk_test['pred'] = df_outcomes_test.apply (lambda row: classes(row,'y_pred','No Health Risk'), axis=1)
No_Health_Risk_train['target'] = df_outcomes_train.apply (lambda row: classes(row,'y','No Health Risk'), axis=1)
No_Health_Risk_train['pred'] = df_outcomes_train.apply (lambda row: classes(row,'y_pred','No Health Risk'), axis=1)

Risk_of_Death_test = pd.DataFrame()
Risk_of_Death_train = pd.DataFrame()
Risk_of_Death_test['target'] = df_outcomes_test.apply (lambda row: classes(row,'y','Risk of Death'), axis=1)
Risk_of_Death_test['pred'] = df_outcomes_test.apply (lambda row: classes(row,'y_pred','Risk of Death'), axis=1)
Risk_of_Death_train['target'] = df_outcomes_train.apply (lambda row: classes(row,'y','Risk of Death'), axis=1)
Risk_of_Death_train['pred'] = df_outcomes_train.apply (lambda row: classes(row,'y_pred','Risk of Death'), axis=1)

Hosp_no_ICU_test = pd.DataFrame()
Hosp_no_ICU_train = pd.DataFrame()
Hosp_no_ICU_test['target'] = df_outcomes_test.apply (lambda row: classes(row,'y','Hospitalization no ICU'), axis=1)
Hosp_no_ICU_test['pred'] = df_outcomes_test.apply (lambda row: classes(row,'y_pred','Hospitalization no ICU'), axis=1)
Hosp_no_ICU_train['target'] = df_outcomes_train.apply (lambda row: classes(row,'y','Hospitalization no ICU'), axis=1)
Hosp_no_ICU_train['pred'] = df_outcomes_train.apply (lambda row: classes(row,'y_pred','Hospitalization no ICU'), axis=1)

Hosp_with_ICU_test = pd.DataFrame()
Hosp_with_ICU_train = pd.DataFrame()
Hosp_with_ICU_test['target'] = df_outcomes_test.apply (lambda row: classes(row,'y','Hospitalization with ICU'), axis=1)
Hosp_with_ICU_test['pred'] = df_outcomes_test.apply (lambda row: classes(row,'y_pred','Hospitalization with ICU'), axis=1)
Hosp_with_ICU_train['target'] = df_outcomes_train.apply (lambda row: classes(row,'y','Hospitalization with ICU'), axis=1)
Hosp_with_ICU_train['pred'] = df_outcomes_train.apply (lambda row: classes(row,'y_pred','Hospitalization with ICU'), axis=1)

In [ ]:
No_Health_Risk_test['label'] = No_Health_Risk_test.apply (lambda row: labels(row), axis=1)
No_Health_Risk_train['label'] = No_Health_Risk_train.apply (lambda row: labels(row), axis=1)

Risk_of_Death_test['label'] = Risk_of_Death_test.apply (lambda row: labels(row), axis=1)
Risk_of_Death_train['label'] = Risk_of_Death_train.apply (lambda row: labels(row), axis=1)

Hosp_no_ICU_test['label'] = Hosp_no_ICU_test.apply (lambda row: labels(row), axis=1)
Hosp_no_ICU_train['label'] = Hosp_no_ICU_train.apply (lambda row: labels(row), axis=1)

Hosp_with_ICU_test['label'] = Hosp_with_ICU_test.apply (lambda row: labels(row), axis=1)
Hosp_with_ICU_train['label'] = Hosp_with_ICU_train.apply (lambda row: labels(row), axis=1)

In [ ]:
No_Health_Risk_test['model'] = 'Health Outcome - No Health Risk'
No_Health_Risk_test['type'] = 'test'
No_Health_Risk_train['model'] = 'Health Outcome - No Health Risk'
No_Health_Risk_train['type'] = 'train'

Risk_of_Death_test['model'] = 'Health Outcome - Risk of Death'
Risk_of_Death_test['type'] = 'test'
Risk_of_Death_train['model'] = 'Health Outcome - Risk of Death'
Risk_of_Death_train['type'] = 'train'

Hosp_no_ICU_test['model']= 'Health Outcome - Hospitalization no ICU' 
Hosp_no_ICU_test['type'] = 'test'
Hosp_no_ICU_train['model'] = 'Health Outcome - Hospitalization no ICU' 
Hosp_no_ICU_train['type'] = 'train'

Hosp_with_ICU_test['model']= 'Health Outcome - Hospitalization with ICU'
Hosp_with_ICU_test['type']= 'test'
Hosp_with_ICU_train['model']='Health Outcome - Hospitalization with ICU'
Hosp_with_ICU_train['type']='train'

In [ ]:
df_outcomes = pd.concat([No_Health_Risk_test,
          No_Health_Risk_train,
           Risk_of_Death_test,
           Risk_of_Death_train,
           Hosp_no_ICU_test,
           Hosp_no_ICU_train,
           Hosp_with_ICU_test,
           Hosp_with_ICU_train
           ])

df_outcomes = pd.read_csv ('/content/drive/MyDrive/CSE6242/df_outcomes.csv')

In [ ]:
df_outcomes_grouped = df_outcomes.groupby(['model','type','label']).size().reset_index(name='counts')
df_outcomes_grouped

                                        model   type label    counts
0     Health Outcome - Hospitalization no ICU   test    FN    471486
1     Health Outcome - Hospitalization no ICU   test    FP     42785
2     Health Outcome - Hospitalization no ICU   test    TN   8024333
3     Health Outcome - Hospitalization no ICU   test    TP     67468
4     Health Outcome - Hospitalization no ICU  train    FN    883135
5     Health Outcome - Hospitalization no ICU  train    FP     61908
6     Health Outcome - Hospitalization no ICU  train    TN  15805938
7     Health Outcome - Hospitalization no ICU  train    TP    121244
8   Health Outcome - Hospitalization with ICU   test    FN     35484
9   Health Outcome - Hospitalization with ICU   test    FP        14
10  Health Outcome - Hospitalization with ICU   test    TN   8570571
11  Health Outcome - Hospitalization with ICU   test    TP         3
12  Health Outcome - Hospitalization with ICU  train    FN     67640
13  Health Outcome - Hospitalization with ICU  train    FP        30
14  Health Outcome - Hospitalization with ICU  train    TN  16804494
15  Health Outcome - Hospitalization with ICU  train    TP        61
16            Health Outcome - No Health Risk   test    FN     30987
17            Health Outcome - No Health Risk   test    FP    626610
18            Health Outcome - No Health Risk   test    TN    104672
19            Health Outcome - No Health Risk   test    TP   7843803
20            Health Outcome - No Health Risk  train    FN     41145
21            Health Outcome - No Health Risk  train    FP   1148645
22            Health Outcome - No Health Risk  train    TN    182216
23            Health Outcome - No Health Risk  train    TP  15500219
24             Health Outcome - Risk of Death   test    FN    147231
25             Health Outcome - Risk of Death   test    FP     15779
26             Health Outcome - Risk of Death   test    TN   8433452
27             Health Outcome - Risk of Death   test    TP      9610
28             Health Outcome - Risk of Death  train    FN    239157
29             Health Outcome - Risk of Death  train    FP     20494
30             Health Outcome - Risk of Death  train    TN  16592950
31             Health Outcome - Risk of Death  train    TP     19624

In [ ]:
df_models_grouped_new = pd.concat([df_models_grouped,
                               df_outcomes_grouped
                              ])
df_models_grouped_new = df_models_grouped_new.reset_index(drop=True)
df_models_grouped_new

                                        model   type label    counts
0                                       death   test    FN      1784
1                                       death   test    FP      4480
2                                       death   test    TN     43931
3                                       death   test    TP     49306
4                                       death  train    FN      7760
5                                       death  train    FP     20967
6                                       death  train    TN    204982
7                                       death  train    TP    230477
8                                        hosp   test    FN     53392
9                                        hosp   test    FP     48354
10                                       hosp   test    TN    177746
11                                       hosp   test    TP    172722
12                                       hosp  train    FN    245252
13                                       hosp  train    FP    221512
14                                       hosp  train    TN    833616
15                                       hosp  train    TP    809812
16                                        icu   test    FN      2615
17                                        icu   test    FP      3317
18                                        icu   test    TN     13055
19                                        icu   test    TP     15471
20                                        icu  train    FN     10780
21                                        icu  train    FP     13423
22                                        icu  train    TN     62995
23                                        icu  train    TP     73445
24    Health Outcome - Hospitalization no ICU   test    FN    471486
25    Health Outcome - Hospitalization no ICU   test    FP     42785
26    Health Outcome - Hospitalization no ICU   test    TN   8024333
27    Health Outcome - Hospitalization no ICU   test    TP     67468
28    Health Outcome - Hospitalization no ICU  train    FN    883135
29    Health Outcome - Hospitalization no ICU  train    FP     61908
30    Health Outcome - Hospitalization no ICU  train    TN  15805938
31    Health Outcome - Hospitalization no ICU  train    TP    121244
32  Health Outcome - Hospitalization with ICU   test    FN     35484
33  Health Outcome - Hospitalization with ICU   test    FP        14
34  Health Outcome - Hospitalization with ICU   test    TN   8570571
35  Health Outcome - Hospitalization with ICU   test    TP         3
36  Health Outcome - Hospitalization with ICU  train    FN     67640
37  Health Outcome - Hospitalization with ICU  train    FP        30
38  Health Outcome - Hospitalization with ICU  train    TN  16804494
39  Health Outcome - Hospitalization with ICU  train    TP        61
40            Health Outcome - No Health Risk   test    FN     30987
41            Health Outcome - No Health Risk   test    FP    626610
42            Health Outcome - No Health Risk   test    TN    104672
43            Health Outcome - No Health Risk   test    TP   7843803
44            Health Outcome - No Health Risk  train    FN     41145
45            Health Outcome - No Health Risk  train    FP   1148645
46            Health Outcome - No Health Risk  train    TN    182216
47            Health Outcome - No Health Risk  train    TP  15500219
48             Health Outcome - Risk of Death   test    FN    147231
49             Health Outcome - Risk of Death   test    FP     15779
50             Health Outcome - Risk of Death   test    TN   8433452
51             Health Outcome - Risk of Death   test    TP      9610
52             Health Outcome - Risk of Death  train    FN    239157
53             Health Outcome - Risk of Death  train    FP     20494
54             Health Outcome - Risk of Death  train    TN  16592950
55             Health Outcome - Risk of Death  train    TP     19624

In [ ]:
df_outcomes_grouped1 = df_outcomes.groupby(['target','pred','label','model','type']).size().reset_index(name='counts')
df_outcomes_grouped1

,target,pred,label,model,type,counts
0,0,0,TN,Health Outcome - Hospitalization no ICU,test,8024333
1,0,0,TN,Health Outcome - Hospitalization no ICU,train,15805938
2,0,0,TN,Health Outcome - Hospitalization with ICU,test,8570571
3,0,0,TN,Health Outcome - Hospitalization with ICU,train,16804494
4,0,0,TN,Health Outcome - No Health Risk,test,104672
5,0,0,TN,Health Outcome - No Health Risk,train,182216
6,0,0,TN,Health Outcome - Risk of Death,test,8433452
7,0,0,TN,Health Outcome - Risk of Death,train,16592950
8,0,1,FP,Health Outcome - Hospitalization no ICU,test,42785
9,0,1,FP,Health Outcome - Hospitalization no ICU,train,61908
10,0,1,FP,Health Outcome - Hospitalization with ICU,test,14
11,0,1,FP,Health Outcome - Hospitalization with ICU,train,30
12,0,1,FP,Health Outcome - No Health Risk,test,626610
13,0,1,FP,Health Outcome - No Health Risk,train,1148645
14,0,1,FP,Health Outcome - Risk of Death,test,15779
15,0,1,FP,Health Outcome - Risk of Death,train,20494
16,1,0,FN,Health Outcome - Hospitalization no ICU,test,471486
17,1,0,FN,Health Outcome - Hospitalization no ICU,train,883135
18,1,0,FN,Health Outcome - Hospitalization with ICU,test,35484
19,1,0,FN,Health Outcome - Hospitalization with ICU,train,67640
20,1,0,FN,Health Outcome - No Health Risk,test,30987
21,1,0,FN,Health Outcome - No Health Risk,train,41145
22,1,0,FN,Health Outcome - Risk of Death,test,147231
23,1,0,FN,Health Outcome - Risk of Death,train,239157
24,1,1,TP,Health Outcome - Hospitalization no ICU,test,67468
25,1,1,TP,Health Outcome - Hospitalization no ICU,train,121244
26,1,1,TP,Health Outcome - Hospitalization with ICU,test,3
27,1,1,TP,Health Outcome - Hospitalization with ICU,train,61
28,1,1,TP,Health Outcome - No Health Risk,test,7843803
29,1,1,TP,Health Outcome - No Health Risk,train,15500219
30,1,1,TP,Health Outcome - Risk of Death,test,9610
31,1,1,TP,Health Outcome - Risk of Death,train,19624

In [ ]:
#mon-year	targets	pred	label	model	type
df_outcomes1 = df_outcomes_grouped1
df_outcomes1['mon-year'] = 'All Months'
df_outcomes1 = df_outcomes1[['mon-year','target','pred','label','model', 'type', 'counts']]
df_outcomes1.rename(columns = {'target':'targets'}, inplace = True)
df_outcomes1

,mon-year,targets,pred,label,model,type,counts
0,All Months,0,0,TN,Health Outcome - Hospitalization no ICU,test,8024333
1,All Months,0,0,TN,Health Outcome - Hospitalization no ICU,train,15805938
2,All Months,0,0,TN,Health Outcome - Hospitalization with ICU,test,8570571
3,All Months,0,0,TN,Health Outcome - Hospitalization with ICU,train,16804494
4,All Months,0,0,TN,Health Outcome - No Health Risk,test,104672
5,All Months,0,0,TN,Health Outcome - No Health Risk,train,182216
6,All Months,0,0,TN,Health Outcome - Risk of Death,test,8433452
7,All Months,0,0,TN,Health Outcome - Risk of Death,train,16592950
8,All Months,0,1,FP,Health Outcome - Hospitalization no ICU,test,42785
9,All Months,0,1,FP,Health Outcome - Hospitalization no ICU,train,61908
10,All Months,0,1,FP,Health Outcome - Hospitalization with ICU,test,14
11,All Months,0,1,FP,Health Outcome - Hospitalization with ICU,train,30
12,All Months,0,1,FP,Health Outcome - No Health Risk,test,626610
13,All Months,0,1,FP,Health Outcome - No Health Risk,train,1148645
14,All Months,0,1,FP,Health Outcome - Risk of Death,test,15779
15,All Months,0,1,FP,Health Outcome - Risk of Death,train,20494
16,All Months,1,0,FN,Health Outcome - Hospitalization no ICU,test,471486
17,All Months,1,0,FN,Health Outcome - Hospitalization no ICU,train,883135
18,All Months,1,0,FN,Health Outcome - Hospitalization with ICU,test,35484
19,All Months,1,0,FN,Health Outcome - Hospitalization with ICU,train,67640
20,All Months,1,0,FN,Health Outcome - No Health Risk,test,30987
21,All Months,1,0,FN,Health Outcome - No Health Risk,train,41145
22,All Months,1,0,FN,Health Outcome - Risk of Death,test,147231
23,All Months,1,0,FN,Health Outcome - Risk of Death,train,239157
24,All Months,1,1,TP,Health Outcome - Hospitalization no ICU,test,67468
25,All Months,1,1,TP,Health Outcome - Hospitalization no ICU,train,121244
26,All Months,1,1,TP,Health Outcome - Hospitalization with ICU,test,3
27,All Months,1,1,TP,Health Outcome - Hospitalization with ICU,train,61
28,All Months,1,1,TP,Health Outcome - No Health Risk,test,7843803
29,All Months,1,1,TP,Health Outcome - No Health Risk,train,15500219
30,All Months,1,1,TP,Health Outcome - Risk of Death,test,9610
31,All Months,1,1,TP,Health Outcome - Risk of Death,train,19624

In [ ]:
df_models1 = df_models
df_models1['counts'] = 1
df_models1

         mon-year  targets  pred label  model   type  counts
0        Jan-2021      0.0   0.0    TN  death   test       1
1        Jan-2021      0.0   0.0    TN  death   test       1
2        Jan-2022      1.0   1.0    TP  death   test       1
3        Apr-2020      1.0   1.0    TP  death   test       1
4        Aug-2020      1.0   1.0    TP  death   test       1
...           ...      ...   ...   ...    ...    ...     ...
2110187  Nov-2020      0.0   0.0    TN   hosp  train       1
2110188  Feb-2021      1.0   1.0    TP   hosp  train       1
2110189  Jan-2021      0.0   0.0    TN   hosp  train       1
2110190  Apr-2020      0.0   0.0    TN   hosp  train       1
2110191  Jan-2022      1.0   1.0    TP   hosp  train       1

[3321194 rows x 7 columns]

In [ ]:
df_models_new = pd.concat([df_models1,
                           df_outcomes1])

df_models_new = df_models_new.reset_index(drop=True)
df_models_new

,mon-year,targets,pred,label,model,type,counts
0,Jan-2021,0.0,0.0,TN,death,test,1
1,Jan-2021,0.0,0.0,TN,death,test,1
2,Jan-2022,1.0,1.0,TP,death,test,1
3,Apr-2020,1.0,1.0,TP,death,test,1
4,Aug-2020,1.0,1.0,TP,death,test,1
...,...,...,...,...,...,...,...
3321221,All Months,1.0,1.0,TP,Health Outcome - Hospitalization with ICU,train,61
3321222,All Months,1.0,1.0,TP,Health Outcome - No Health Risk,test,7843803
3321223,All Months,1.0,1.0,TP,Health Outcome - No Health Risk,train,15500219
3321224,All Months,1.0,1.0,TP,Health Outcome - Risk of Death,test,9610
3321225,All Months,1.0,1.0,TP,Health Outcome - Risk of Death,train,19624

In [ ]:
No_Health_Risk_test.to_csv('/content/drive/MyDrive/CSE6242/No_Health_Risk_test.csv')
No_Health_Risk_train.to_csv('/content/drive/MyDrive/CSE6242/No_Health_Risk_train.csv')

Risk_of_Death_test.to_csv('/content/drive/MyDrive/CSE6242/Risk_of_Death_test.csv')
Risk_of_Death_train.to_csv('/content/drive/MyDrive/CSE6242/Risk_of_Death_train.csv')

Hosp_no_ICU_test.to_csv('/content/drive/MyDrive/CSE6242/Hosp_no_ICU_test.csv')
Hosp_no_ICU_train.to_csv('/content/drive/MyDrive/CSE6242/Hosp_no_ICU_train.csv')

Hosp_with_ICU_test.to_csv('/content/drive/MyDrive/CSE6242/Hosp_with_ICU_test.csv')
Hosp_with_ICU_train.to_csv('/content/drive/MyDrive/CSE6242/Hosp_with_ICU_train.csv')

df_outcomes.to_csv('/content/drive/MyDrive/CSE6242/df_outcomes.csv')

In [ ]:
df_models_grouped_new.to_csv('/content/drive/MyDrive/CSE6242/df_models_grouped.csv')

In [ ]:
df_models_new.to_csv('/content/drive/MyDrive/CSE6242/df_models.csv')